* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: filson-pro, sans-serif;
  font-style: normal;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
  margin-top: 20px;
}

p {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.658);
  margin-top: 20px;
  font-weight: 200;
}

.welcome__text {
  width: 500px;
  margin-left: 100px;
  margin-top: 30px;
}

.welcome__text .type {
  height: 300px;
  font-weight: bold;
  font-size: 80px;
}

.welcome__button {
  margin-top: 40px;
  text-align: center;
}

.welcome__button button {
  color: white;
  background: linear-gradient(270deg, #d400ff, #ad04a5, #4d023c, #000000);
  background-size: 900% 100%;
  border: none;
  font-weight: bold;
  width: 200px;
  height: 60px;
  border-radius: 28px;
  font-size: 20px;
  transition: all 1s;
}

.welcome__button button:hover {
  background-size: 100% 100%;
  transform: scale(1.02);
}

.welcome__arrow {
  background: black;
  color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 150px;
}

.whyUs {
  display: flex;
  margin-top: -120px;
  background: white;
  padding-top: 100px;
  margin-left: 100px;
}

.whyUs__text {
  width: 800px;
  padding-right: 50px;
}

.whyUs__image {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.whyUs img {
  height: 550px;
  text-align: center;
  padding-right: 100px;
}

.description {
  margin-top: -160px;
  display: flex;
}

.description__image img {
  height: 950px;
  margin-left: -100px;
}

.description__text {
  padding: 280px 50px 0px 200px;
}

.graphic {
  background-image: url(../images/flowers.png);
  background-size: 700px 700px;
  background-position-x: 55%;
  background-repeat: no-repeat;
  height: 700px;
  margin-top: 50px;
}

.graphic h2 {
  margin-left: 100px;
}

.graphic__circle {
  float: right;
  background: white;
  width: 650px;
  height: 650px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.329);
}

.circle__text {
  width: 320px;
}

.offer__section {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.offer__block {
  margin-left: 50px;
  border: 1.2px solid black;
  width: 250px;
  height: 500px;
  position: relative;
  box-sizing: border-box;
}

.block__background {
  z-index: -1;
  background: pink;
  height: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: -15px;
  margin-top: -15px;
}

.foreground__image {
  text-align: center;
  margin-top: 20px;
}

.foreground__image img {
  width: 100px;
}

.foreground__text {
  text-align: center;
  padding: 0px 15px;
}

.foreground__text p {
  margin-top: 28px;
  font-size: 20px;
  color: black;
}

@media (max-width: 1136px) {
  .whyUs {
    margin-top: -120px;
    padding-top: 100px;
    margin-left: 100px;
  }
  .whyUs__image {
    display: block;
    width: 100%;
  }
  .whyUs img {
    height: 40vw;
    text-align: center;
    padding-right: 100px;
  }
  .description {
    justify-content: center;
    margin-top: 50px;
  }
  .description__image {
    width: 50%;
    padding-left: 100px;
  }
  .description__image img {
    height: 50vw;
    margin-left: 0px;
  }
  .description__text {
    padding: 0px;
    width: 50%;
    padding-right: 50px;
  }
  .graphic {
    background-position-x: 8vw;
  }
}

@media (max-width: 1000px) {
  .graphic {
    background-image: none;
  }
}

@media (max-width: 860px) {
  .welcome__text {
    margin-left: 0px;
    text-align: center;
    width: 100%;
  }
  .whyUs {
    display: block;
    margin-top: -120px;
    background: white;
    padding-top: 100px;
    margin-left: 0px;
    text-align: center;
  }
  .whyUs__text {
    width: 100%;
  }
  .whyUs__image {
    display: block;
    width: 100%;
  }
  .whyUs img {
    height: 45vw;
    text-align: center;
    padding-right: 0px;
    margin-top: 50px;
  }
  .description {
    flex-direction: column-reverse;
    justify-content: none;
  }
  .description__text {
    text-align: center;
    padding: 0px;
    width: 100%;
    padding-right: 0px;
  }
  .description__image {
    text-align: center;
    width: 100%;
    padding: 0;
    margin-top: 50px;
  }
  .description__image img {
    margin-left: 0px;
  }
  .graphic h2 {
    margin-left: 0px;
    text-align: center;
  }
  .graphic__circle {
    float: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }
  .circle__text {
    width: 320px;
  }
  .offer__section {
    margin-top: 0px;
    display: block;
  }
  .offer__block {
    margin-left: 0px;
    width: 60%;
    height: 400px;
    margin: 0 auto;
    margin-top: 80px;
  }
}
