@import url("https://use.typekit.net/zns8vau.css");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: filson-pro, sans-serif;
  font-style: normal;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
  margin-top: 20px;
}

p {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.658);
  margin-top: 20px;
  font-weight: 200;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.welcome__text {
  width: 500px;
  margin-left: 100px;
  margin-top: 30px;
}

.welcome__text .type {
  font-weight: bold;
  font-size: 80px;
}

.contact__button {
  display: none;
}

.welcome__button {
  margin-top: 40px;
  text-align: center;
}

.welcome__button button {
  color: white;
  background: linear-gradient(270deg, #d400ff, #ad04a5, #4d023c, #000000);
  background-size: 900% 100%;
  border: none;
  font-weight: bold;
  width: 200px;
  height: 60px;
  border-radius: 28px;
  font-size: 20px;
  transition: all 1s;
}

.welcome__button button a {
  text-decoration: none;
  color: white;
}

.welcome__button button:hover {
  background-size: 100% 100%;
  transform: scale(1.02);
}

.welcome__arrow {
  background: linear-gradient(to bottom, #d400ff, #ad04a5, #4d023c, #000000);
  background-position-y: -900px;
  background-size: 100% 500%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 150px;
  transition: all 1s;
}

.welcome__arrow a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  padding-top: 20px;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.welcome__arrow:hover {
  background-position-y: 0px;
  background-size: 100% 50%;
}

.whyUs {
  display: flex;
  margin-top: -120px;
  background: white;
  padding-top: 100px;
  margin-left: 100px;
}

.whyUs__text {
  width: 800px;
  padding-right: 50px;
}

.whyUs__image {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.whyUs img {
  height: 550px;
  text-align: center;
  padding-right: 100px;
}

.description {
  margin-top: -160px;
  display: flex;
}

.description__image img {
  height: 950px;
  margin-left: -100px;
}

.description__text {
  padding: 280px 50px 0px 200px;
}

.graphic {
  background-image: url(../images/flowers.png);
  background-size: 700px 700px;
  background-position-x: 55%;
  background-repeat: no-repeat;
  height: 700px;
  margin-top: 50px;
}

.graphic h2 {
  margin-left: 100px;
}

.graphic__circle {
  float: right;
  background: white;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.329);
}

.circle__text {
  width: 320px;
}

.gallery {
  margin-top: 100px;
}

.gallery img {
  height: 250px;
}

.gallery__title {
  margin-left: 100px;
}

.gallery__blocks {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.gallery__blocks a {
  text-decoration: none;
  color: black;
}

.gallery__block {
  transition: all 0.9s;
  box-shadow: 0px 0px 0px #8db7df;
}

.gallery__block h3 {
  text-align: center;
  padding-bottom: 20px;
}

.gallery__block:hover {
  transform: translate(-10px, -10px);
  box-shadow: 70px 70px 0px #8db7df;
}

.offer__title {
  margin-left: 100px;
  margin-top: 100px;
}

.offer__section {
  display: flex;
  justify-content: space-around;
}

.offer__block {
  height: 700px;
  width: 400px;
  text-align: center;
}

.offer__block:nth-child(1) {
  background: url(../images/offerBlock1.png);
  background-size: cover;
}

.offer__block:nth-child(2) {
  background: url(../images/offerBlock2.png);
  background-size: cover;
}

.offer__block:nth-child(3) {
  background: url(../images/offerBlock3.png);
  background-size: cover;
}

.block__title {
  padding-top: 80px;
  font-size: 21px;
  height: 30px;
  font-weight: bold;
  color: white;
}

.block__title--thin {
  font-weight: 200;
}

.block__title--flex {
  display: flex;
}

.block__title--flex .title1 {
  padding-left: 30px;
  margin-top: -10px;
  font-weight: 200;
}

.block__title--flex .title2 {
  padding-left: 40px;
}

.block__price {
  font-size: 30px;
  margin-top: 50px;
  font-weight: bold;
}

.benefits {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
}

.benefit {
  display: flex;
}

.benefit .benefit__img {
  width: 90px;
}

.benefit .benefit__img img {
  transform: scale(0.7);
}

.benefit .benefit__text {
  display: flex;
  align-items: center;
  text-align: left;
  color: rgba(0, 0, 0, 0.808);
}

.benefit__text--add {
  justify-content: center;
  margin: 20px 0 20px -25px;
}

.contact__section {
  margin-top: 50px;
  padding-left: 100px;
  height: 900px;
  background-image: url(../images/us.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position-x: right;
  position: relative;
  overflow: hidden;
}

.contact__section p {
  margin-top: 50px;
}

.leafs {
  position: absolute;
}

.leafs img {
  height: 500px;
  position: absolute;
}

.leaf1 {
  left: -250px;
  z-index: 1;
  bottom: -550px;
}

.leaf2 {
  left: 0px;
  bottom: -570px;
}

.leaf3 {
  left: 450px;
  bottom: -620px;
}

@media (max-width: 1136px) {
  .whyUs {
    margin-top: -120px;
    padding-top: 100px;
    margin-left: 100px;
  }
  .whyUs__image {
    display: block;
    width: 100%;
  }
  .whyUs img {
    height: 40vw;
    text-align: center;
    padding-right: 100px;
  }
  .description {
    justify-content: center;
    margin-top: 50px;
  }
  .description__image {
    width: 50%;
    padding-left: 100px;
  }
  .description__image img {
    height: 50vw;
    margin-left: 0px;
  }
  .description__text {
    padding: 0px;
    width: 50%;
    padding-right: 50px;
  }
  .graphic {
    background-position-x: 8vw;
  }
  .offer__section {
    justify-content: none;
    flex-wrap: wrap;
  }
}

@media (max-width: 1300px) {
  .welcome__text {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
  }
}

@media (max-width: 1000px) {
  .graphic {
    background-image: none;
  }
}

@media (max-width: 1100px) {
  .gallery {
    margin-top: 50px;
  }
  .gallery__title {
    text-align: center;
    margin-left: 0px;
  }
  .gallery__blocks {
    display: block;
    margin: 0px;
  }
  .gallery__block {
    text-align: center;
    margin-top: 50px;
  }
  .gallery__block h3 {
    margin-top: 0px;
  }
}

@media (max-width: 860px) {
  .whyUs {
    display: block;
    margin-top: -120px;
    background: white;
    padding-top: 100px;
    margin-left: 0px;
    text-align: center;
  }
  .whyUs__text {
    width: 60%;
    margin: 0 auto;
    padding: 0;
  }
  .whyUs__image {
    display: block;
    width: 100%;
  }
  .whyUs img {
    height: 45vw;
    text-align: center;
    padding-right: 0px;
    margin-top: 50px;
  }
  .description {
    flex-direction: column-reverse;
    justify-content: none;
  }
  .description__text {
    text-align: center;
    padding: 0px;
    width: 60%;
    padding-right: 0px;
    margin: 0 auto;
  }
  .description__image {
    text-align: center;
    width: 100%;
    padding: 0;
    margin-top: 50px;
  }
  .description__image img {
    margin-left: 0px;
  }
  .graphic {
    height: auto;
  }
  .graphic h2 {
    margin-left: 0px;
    text-align: center;
  }
  .graphic__circle {
    float: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 0;
    width: 100%;
    box-shadow: none;
    height: auto;
  }
  .circle__text {
    width: 60%;
  }
  .contact__section {
    background-position-x: none;
    background-size: 100%;
  }
}

@media (max-width: 784px) {
  .contact__section {
    background: white;
    text-align: center;
    padding-left: 0px;
    height: auto;
    padding-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .gallery__block {
    pointer-events: none;
  }
  .gallery__block img {
    height: 30vw;
  }
}

@media (max-width: 500px) {
  .welcome__text {
    width: 90%;
  }
  .welcome__text .type {
    font-size: 50px;
  }
  .whyUs .whyUs__text {
    width: 90%;
  }
  .description .description__text {
    width: 90%;
  }
  .graphic__circle .circle__text {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .offer__title {
    display: none;
  }
  .offer__section {
    display: none;
  }
  .contact__button {
    display: block;
  }
  .offer__button {
    display: none;
  }
}
