.contener__block{
    height: 700px;
    
    width: 400px;
    background-size: cover;
    text-align: center;
}
.block__title{
    padding-top: 80px;
    font-size: 25px;
}

.block__price{
    margin-top: 40px;
    font-size: 50px;
}