.sideMenu p {
  display: none;
}

.sideMenu__links {
  display: flex;
  position: fixed;
  flex-direction: column;
  right: 10px;
  top: 75px;
  height: 250px;
  justify-content: space-around;
}

.sideMenu__links img {
  height: 50px;
  transition: all 0.2s;
}

.sideMenu__links img:hover {
  transform: scale(0.9);
}

@media (max-width: 600px) {
  .sideMenu p {
    display: block;
  }
  .sideMenu__links {
    position: static;
    flex-direction: row;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    width: 60vw;
  }
}
